body{
    background-color: #7a4c81;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 1,5em;
    color:#302535;
}

#page{
    width:80%;
    margin:auto;
    display:flex;
    flex-direction: column;
}

#entete, #menu, #pied_de_page, #visu, #reponse, #air_de_jeu, #regles{
    background-color: white;
    border-radius: 10px;
    border:2px solid #353236;
    margin: 2em;
    text-align: center;
}

.aTrouver{
    margin-right: 1em;
    text-align: center;
    font-size: 2.5em;
}

h1{
    letter-spacing: 0.1em;
    font-size: 2em;
    font-weight: bold !important;
    text-transform: uppercase;
}

li{
    list-style-type: none;
    margin: 1em;
}

a{
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
}

button{
    border-color: #00000000;
    letter-spacing: 0.2em;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f9674d;
    color:#ffffff;
    margin:1em;
}
